@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.tableHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.headerText{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: white;
    letter-spacing: 1rem;
}

.imgHeader{
    width: 5rem;
    height: 5rem;
}